body{
  padding: 0;
  margin: 0;
  font-family: "Arial";
}
#header{

  width: 100%;
  height: 500px;
  background-color:#aa4160;

}
#header img{
 width: 200px;
  margin-top: 10%;
  border-radius: 110px;
  border: solid #ababac 2px;
}

#header span{

  font-size: 30px;
  font-style: bold;
  color: #ddd;
}
#header h3{

  color: #ddd;

}
#header h3::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .8s infinite;
}

/* animation for cursor */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/*   Eu estudei e aprende essa funcionalidade do mouse  no github de: https://github.com/davi1985/   */

#aboutme{

  width: 100%;
  height: 350px;
  border-top: solid #ababac 1px;
  background-color:#fff;
  font-size: 10.5px;

}

#aboutme p{

  font-family: "Arial";
  font-size: 20px;
  text-align: justify;
}

#aboutme #contexto{

 width: 40%;
 padding-top: 2%;
}

#contact{

  width: 100%;
  height: 350px;
  border-top: solid #ababac 1px;
  background-color:#fff;
  font-size: 10.5px;

}


form .campos {
  background-color: #e6e6e6;
  width: 300px;
  height: 38px;
  border-radius: 25px;
  border:none;
  font-family: "Arial";
  padding-left: 30px;
  outline: none; /* remover efeito*/

}
form  #campo-nome {
  /*Imagem dentro do input*/

  background-image:url(../img/user-2.png);
  background-repeat:no-repeat;
  background-position: 10px;

}

form  #campo-email {
  /*Imagem dentro do input*/

  background-image:url(../img/envelope-1.png);
  background-repeat:no-repeat;
  background-position: 10px;

}



form textarea {
  background-color: #e6e6e6;
  width: 320px;
  height:100px;
  border-radius: 25px;
  border:none;
  font-family: "Arial";
  padding-left: 10px;
  padding-top: 10px;
}

form #bt {
  background-color: #aa4160;
  width: 300px;
  height: 38px;
  border-radius: 25px;
  border:none;
  font-family: "Arial";
  color: #ffffff;
  font-style: bold;
}

#footer{

  width: 100%;
  height: 80px;
  background-color:#ababac;

}
#footer footer{

  padding: 10px;

}
#footer footer .redesocial .social {

  text-decoration: none;
  margin-right: 10px;
}

#github{

background-image:url( ../img/github-1.png);
background-repeat: no-repeat;

}
#github:hover{

  background-image:url( ../img/github-2.png);
  background-repeat: no-repeat;

}

#instagram{

background-image:url( ../img/instagram-1.png);
background-repeat: no-repeat;

}
#instagram:hover{

  background-image:url( ../img/instagram-2.png);
  background-repeat: no-repeat;

}

#linkedin{

background-image:url( ../img/linkedin-1.png);
background-repeat: no-repeat;

}
#linkedin:hover{

  background-image:url( ../img/linkedin-2.png);
  background-repeat: no-repeat;

}

#twitter{

background-image:url( ../img/twitter-1.png);
background-repeat: no-repeat;

}
#twitter:hover{

  background-image:url( ../img/twitter-2.png);
  background-repeat: no-repeat;

}

@media (max-width: 1024px)
{
  #aboutme{

      height:400px;
  }
  #aboutme #contexto{
      width: 80%;
  }

  #aboutme{

    height: 450px;

  }
}


@media (max-width: 768px)
{
  #aboutme{

      height:350px;
  }
  #aboutme #contexto{
      width: 80%;
  }
}

@media (max-width: 414px)
{
  #aboutme{

      height:550px;
  }

  #aboutme #contexto{
      width: 60%;
  }

}

@media (max-width: 375px)
{
  #aboutme{

      height:580px;
  }

  #aboutme #contexto{
      width: 60%;

  }

}

@media (max-width: 320px)
{
  #aboutme{

      height:650px;
  }

  #aboutme #contexto{
      width: 60%;

  }

}
