body{
  padding: 0;
  margin: 0;
  font-family: "Arial";
}
#header{

  width: 100%;
  height: 500px;
  background-color:#aa4160;

}
#header img{
 width: 200px;
  margin-top: 10%;
  border-radius: 110px;
  border: solid #ababac 2px;
}

#header span{

  font-size: 30px;
  font-style: bold;
  color: #ddd;
}
#header h3{

  color: #ddd;

}
#header h3::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .8s infinite;
}

/* animation for cursor */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/*   Eu estudei e aprende essa funcionalidade do mouse  no github de: https://github.com/davi1985/   */

#aboutme{

  width: 100%;
  height: 500px;
  border-top: solid #ababac 1px;
  background-color:#fff;
  font-size: 10.5px;

}

#contact{

  width: 100%;
  height: 300px;
  border-top: solid #ababac 1px;
  background-color:#fff;
  font-size: 10.5px;

}
#footer{

  width: 100%;
  height: 80px;
  background-color:#ababac;

}
#footer footer{

  padding: 10px;

}
#footer footer .redesocial .social {

  text-decoration: none;
  margin-right: 10px;
}

#github{

background-image:url( ../img/github-1.png);
background-repeat: no-repeat;

}
#github:hover{

  background-image:url( ../img/github-2.png);
  background-repeat: no-repeat;

}

#instagram{

background-image:url( ../img/instagram-1.png);
background-repeat: no-repeat;

}
#instagram:hover{

  background-image:url( ../img/instagram-2.png);
  background-repeat: no-repeat;

}

#linkedin{

background-image:url( ../img/linkedin-1.png);
background-repeat: no-repeat;

}
#linkedin:hover{

  background-image:url( ../img/linkedin-2.png);
  background-repeat: no-repeat;

}

#twitter{

background-image:url( ../img/twitter-1.png);
background-repeat: no-repeat;

}
#twitter:hover{

  background-image:url( ../img/twitter-2.png);
  background-repeat: no-repeat;

}
