body{
  padding: 0;
  margin: 0;
  font-family: "Arial";
}
#header{

  width: 100%;
  height: 500px;
  background-color:#aa4160;

}
#header img{

  border-radius: 100px;
  border: solid #ababac 2px;
}

#header span{

  font-size: 30px;
  font-style: bold;
  color: #ddd;
}
#aboutme{

}
#contact{

}
#footer{

  width: 100%;
  height: 80px;
  background-color:#ababac;

}
#footer footer{

  padding: 10px;

}
#footer footer .redesocial .social {

  text-decoration: none;
  margin-right: 10px;
}
