*{
    margin: 0px;
    padding: 0px;
}
.row{
    height: 100vh;
}
.sobre .row{
    width: 100%;
    height: auto;
}
.sobre .row .col img{
    width: 430px;
    height: auto;
    border-radius: 5px;
}
.sobre .row .col .stack img{
    width: 40px;
    height: auto;
    border-radius: 5px;
}
.sobre .row .col .stack img:hover{
    -webkit-transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
    -ms-transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
    transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
}

/*Sess達o Projetos*/
.projetos{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}
.projetos{
    width: 100%;
    height: 100vh;
    background-color: #292727c0;
}
.projetos .row h1{   
}

/*Bot達o de CV*/
.bt-cv{
    color: #ffffff;
    background-color: #000000;
    width: 150px;
    height: 30px;
    margin-right: 20px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
.bt-cv a{
    color: #ffffff;
    text-decoration: none;
}
/*Efeito bot達o de CV*/
.bt-cv:hover{
    -webkit-transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
    -ms-transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
    transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
}
.bt-cv a:hover{
    color: #ffffff;
    text-decoration: none;
}
.contact-me{
    width: 100%;
}
.contact-me h2{
    text-align: center;
}

.social {
    margin-bottom: 50px;
}
.social a:hover{
    text-decoration: none;
}
.social-divisor-icone{
    display: inline-block; /*Definir div um do lado da outra*/
    width: 50;
    margin-top: 50px;
}
 .social-circulo-icone{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #000000;
    display: table-cell; /*Centralizar vertical no contair*/
    vertical-align: middle /*Centralizar vertical no contair*/
}
.social-circulo-icone i {
    color: #ffffff;
    font-size: 20;
}

/* Inicio do Efeito de bot達o grande e borda 2cm */
 .social-circulo-icone:hover  {
    background-color: #ffffff;
    border: #000000 solid 2px;
    -webkit-transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
    -ms-transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
    transform: scale(1.3); /*Efeito de aumentar sem mexer na estrutura*/
    border-radius: 20px;
}
 .social-divisor-icone:hover .social-circulo-icone i {
    color: #000000;
    font-size: 22;
}

footer{
    width: 100%;
    text-align: center;
}